/* .Cadastro {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    margin: 100px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .Cadastro h2 {
    text-align: center;
    color: orange;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  /* .form-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 5px;
  } */

/* .button {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
   */

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
